@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

html, body, #root { /* #root is the common ID for where React mounts */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Important to prevent scrollbars if content slightly overfills */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
